/*부모 
  .mother 의 권한안에서 예습에서는 border: 1px solid red; 안에서 영향력을 둠
*/

/* 가로
  justify-content: space-around; 여백을 두고 
  justify-content: flex-end; 맨뒤로
  justify-content: flex-start; 맨앞으로
  justify-content: center; 중앙
  justify-content: space-between; 사이 공간이라는 뜻으로 공간을 딱딱 계산해서 match되는 공간 정렬
  justify-content: space-between 여백을 두고 공간 정렬
  */

/*align-items: // space-between; space-between; 두개는 align-items: 에 없음.. ㅜ
  justify-content: flex-end; 맨뒤로
  justify-content: flex-start; 맨앞으로
  justify-content: center; 중앙
  */

.mother1 {
  border: 5px solid red;
  /* display: flex; display: flex;를 쓰면 세로가 가로 정렬이 된다 */
  /* flex-direction: column; 박스 정렬을 바꿈 column같이..  */
  /* flex-direction: column; 을 주어서 세로 맨아래로 임팩트 줌 */
  display: flex;
  justify-content: space-between;
  height: 100vh; /*내 화면의 100를 */
}
.item1-1 {
  /* margin-right: 5px; */
  display: flex;
}
.item1-2 {
  /* margin-right: 5px; */
  margin-right: 5px;
}

/* 두번쨰 문제*/
.container2 {
  /* margin-right: 5px; */
  display: flex; /*display: flex;를 쓰면 세로가 가로 정렬이 된다 */
  justify-content: flex-end; /* flex-direction: column; 을 주어서 세로 맨아래로 임팩트 줌 */
}

.mother2 {
  border: 5px solid red;
  display: flex; /*display: flex;를 쓰면 세로가 가로 정렬이 된다 */
  flex-direction: column; /*박스 정렬을 바꿈 column같이..  */
  height: 100vh; /*내 화면의 100를 */
}

.item2-1 {
  align-self: center;
}
.item2-2 {
  align-self: flex-end;
}

/* 문제 3*/
.mother3 {
  border: 5px solid red;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bro-children {
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: relative;
}
.box-position {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* 문제 4*/
.mother4 {
  border: 5px solid red;
  height: 100vh;
}
.bro-children2 {
  background-color: yellow;
  width: 100px;
  height: 100px;
}
.under-children2 {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}

.box-position2 {
  position: relative;
  left: 50px;
  top: -50px;
}

.mother5 {
  border: 5px solid red;
  display: flex; /*display: flex;를 쓰면 세로가 가로 정렬이 된다 */
  flex-direction: column; /*박스 정렬을 바꿈 column같이..  */
  height: 100vh; /*내 화면의 100를 */
  position: relative;
}
.big-children {
  width: 400px;
  height: 150px;
  background-color: black;
  color: white;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.position-top {
  position: absolute;
  top: 0;
  right: 0;
}
.position-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.children {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
}
