/**
- 박스 테두리 그리기 : 두께 50px, 스타일 solid, 색깔 red;
- 박스의 넓이 200px로 설정하기
- 박스 안에 50px씩 공간주기 (padding)
- 두번째 박스는 초록색으로 세번째 박스는 파란색 바꾸기
- 박스들 사이에 공간 20px 만큼 주기
- 보너스🚀 박스 색깔 바꿔보기 : https://flatuicolors.com/palette/defo (여기서 색깔 코드 가져오기)
- 보너스🚀 두번째 박스를 숨겨보자! **`display:none`**과 **`visibility:hidden`**의 차이는? https://leeproblog.tistory.com/80
**/
.outline-box {
  width: 200px;
  height: 200px;
  padding: 50px;
  /**
  margin collapsing(마진 겹침) 현상 방지
  margin-top: 10px;
  margin-bottom: 10px;
  아래가 더 명확하다고 함
  **/
  margin: 20px;
}
.box-margin {
  margin-top: 20px;
}
.red-box {
  border: 50px solid red;
}
.green-box {
  border: 50px solid green;
}
.blue-box {
  border: 50px solid blue;
}

.wisteria-box {
  border: 50px solid #8e44ad;
}
.silver-box {
  border: 50px solid #bdc3c7;
}
.container {
  display: flex;
  flex-direction: column;
}

#display {
  display: none;
}
#hidden {
  visibility: hidden;
}
#rotate {
  transform: rotate(15deg);
}
